ion-slides {
  margin-top: 100px;
  font-family: 'Balsamiq';
  color: dimgrey;
  padding-bottom: 50px;
}

ion-slide {
  display: flex;
  flex-direction: column;
}

img {
  width: 35%;
  height: 35%;
}

h2 {
  font-size: 28px;
}

p {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
}

.buttonGo {
  margin-top: 50px;
  margin-bottom: 70px;
}

ion-button {
  margin-top: 90px;
}

ion-icon {
  font-size: 35px;
}
