<ion-content>
  <div class="content">
      <app-productor-main-details class="margin" [productorId]="productorId"></app-productor-main-details>
    <div class="margin">
      <app-map-productor-detail class="margin" [id]="productorId"></app-map-productor-detail>
    </div>
    <div class="margin">
      <app-announcement-list-cell class="margin" *ngIf="announcement" [announcement]="announcement"></app-announcement-list-cell>
    </div>
  </div>
  <app-menu-navigation-bar></app-menu-navigation-bar>
</ion-content>
