.cell {

    padding: 0px 16px 0px 16px;
    margin-top: 8px;
    
    .productor-info {

        display: flex;
        align-items: center;
        justify-content: space-between;

        .infos {

            display: flex;
            align-items: center;

            ion-img {

                width: 70px;
                height: 70px;
                object-fit: cover;
                margin-right: 16px;
            }

            .productor-name {

                display: flex;
                flex-direction: column;

                .name {

                    font-weight: bold;
                    margin-bottom: 12px;
                }
            }
        }

        .fav-icon {

            width: 40px;
            height: 40px;
        }
    }

    .product {

        display: flex;
        margin-top: 12px;

        ion-img  {

            width: 25px;
            height: 25px;
            margin-right: 12px;
        }
    }
}

hr {
    height: 1px;
    background-color: grey;
}
