<div class="cell">
  <div class="productor-info">
    <div class="infos">
      <img src="" alt="img-productor">
      <div class="productor-name">
        <div class="name">{{ productor.name }}</div>
        <div class="hour">{{ productor.schedule }}</div>
      </div>
    </div>
    <img class="fav-icon" src="../../../assets/icon/{{ favoriteImage }}.svg" alt="icon-fav" (click)="addToFavorite()">
  </div>
  <div class="product">
    <img src="../../../assets/icon/{{ meatImage }}.png" alt="icon-meat">
    <img src="../../../assets/icon/{{ eggImage }}.png" alt="icon-eggs">
    <img src="../../../assets/icon/{{ vegetableImage }}.png" alt="icon-vegetable">
    <img src="../../../assets/icon/{{ fruitImage }}.png" alt="icon-fruits">
    <img src="../../../assets/icon/{{ milkImage }}.png" alt="icon-milk">
  </div>
</div>
<hr>