<div class="cell">
  <div class="productor-info">
    <div class="infos">
      <!-- Image of productor -->
      <ion-img src="../../../assets/images/{{ productor.image }}.png" alt="img-productor" *ngIf="productor.image"></ion-img>
      <ion-img src="../../../assets/images/defaultFarm.jpg" alt="img-productor" *ngIf="!productor.image"></ion-img>
      <div class="productor-name">
        <ion-label class="name">{{ productor.name }}</ion-label>
        <ion-label class="hour">{{ productor.schedule }}</ion-label>
      </div>
    </div>
    <!-- Button favorite -->
    <ion-img class="fav-icon" src="../../../assets/icon/{{ favoriteImage }}.svg" alt="icon-fav" (click)="addToFavorite()"></ion-img>
  </div>
  <!-- List of products -->
  <div class="product">
    <ion-img src="../../../assets/icon/{{ meatImage }}.png" alt="icon-meat"></ion-img>
    <ion-img src="../../../assets/icon/{{ eggImage }}.png" alt="icon-eggs"></ion-img>
    <ion-img src="../../../assets/icon/{{ vegetableImage }}.png" alt="icon-vegetable"></ion-img>
    <ion-img src="../../../assets/icon/{{ fruitImage }}.png" alt="icon-fruits"></ion-img>
    <ion-img src="../../../assets/icon/{{ milkImage }}.png" alt="icon-milk"></ion-img>
  </div>
</div>
<hr>