<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button>
            <img class="style-img" src="assets/icon/navigation-menu/location-pin.png">
            <ion-label>Carte</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/productor-list">
            <img class="style-img-farmer" src="assets/icon/navigation-menu/farmer.png">
            <ion-label>Producteurs</ion-label>
        </ion-tab-button>

        <ion-tab-button>
            <img class="style-img" src="assets/icon/loveWhite.svg">
            <ion-label>Favoris</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/announcement-list">
            <img class="style-img" src="assets/icon/navigation-menu/megaphone.png">
            <ion-label>Annonces</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
