.cell {

  .announcement-infos {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;

    .announcement-top {
      display: flex;
      justify-content: space-between;
      background-color: #2fdf75;
      padding: 4%;
        .title {
          font-weight: bold;
        }
    }

    .announcement-content {
      margin: 4%;
    }

  }

  .product {
    display: flex;
    margin: 4%;

    img {
      width: 25px;
      height: 25px;
      margin-right: 12px;
    }
  }
}

.announcement-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4%;
}

hr {
  height: 1px;
  background-color: grey;
}
